body {
    background: url(imgs/bgImg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Sulphur Point ;
}

#wrapper {
    position: absolute;
    top: 110px;
    left: 460px;
    background: rgb(0, 0, 0, 0.6);
    width: 550px;
    height: 615px;
    text-align: center;
}

#title {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#description {
    color: white;
    font-size: 22px;
    text-align: center;
    position: relative;
    margin: 10px;
}

#link {
    position: absolute;
    top: 565px;
    right: 175px;

    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
}

#link:hover {
    color: red;
}

.glow {
    font-size: 20px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }