#bg {
    overflow: hidden;
    background-size: 101.5%;
    background-image: url("bgImg.png");
}

.rectangle {
    position: absolute;
    height: 50px;
    width: 5000px;
    background-color: black;
    opacity: 0.8;
}

.img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    max-height: 100%;
}

#pb {
    position: relative;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: xx-large;
    opacity: 1 !important;
    top: 3px;
    left: 10px;
}

#ca {
    position: absolute;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: xx-large;
    opacity: 1 !important;
    top: 3px;
    left: 350px;
}

#mh {
    position: absolute;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: xx-large;
    opacity: 1 !important;
    top: 3px;
    left: 600px;
}


#us {
    position: absolute;
    font-family: 'Sulphur Point', sans-serif;
    color: white;
    font-size: xx-large;
    opacity: 1 !important;
    top: 3px;
    left: 1700px;
}


